@import "tailwindcss";

:root {
  --foreground: #171717;
  --text-primary: #000000;
  --text-secondary: #333333;
  --text-tertiary: #949393;
  --text-quaternary: #576CBC;
  --font-roboto-mono: 'Roboto Mono', monospace;
}


body {
  background: linear-gradient(180deg, #5E92D7, #CEC6E4);
  color: var(--foreground);
  font-family: var(--font-roboto-mono), monospace;
  min-height: 100vh;
  user-select: none;
}

.bg-clouds {
  background-image:
    url('/images/cloud_bot.png'),
    url('/images/cloud_left.png'),
    url('/images/cloud_right.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 
    bottom left,
    top 40px left 140px,
    center right;
  background-size:
    1200px auto, 
    400px auto,   /* width 150px, height auto */
    400px auto; 
}


